<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <button onclick="doit()">click me</button>
    <script src="~/Javascript/StringParser.js"></script>
</body>
</html>
